body {
    height: 100vh;
    margin: 0;
    background-color: lightblue;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Press Start 2P", arial, sans-serif;
}

.settings > div {
    font-size: 0.85rem;
}

.settings > div.active {
    color: limegreen;
}

.settings > div.game:not(.active) {
    color: darkred;
}

main {
    --gridSize: 0;
    --hauteurMain: 50vh;
    --hauteurCase: calc(var(--hauteurMain) / var(--gridSize));
    position: relative;
    height: var(--hauteurMain);
    width: var(--hauteurMain);
    background-color: lightgrey;
    border-radius: 0.5rem;
    border: 0.2rem solid darkslategrey;
}

main.debug::before {
    content: "DEBUG";
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
}

.snake-block, .apple {
    --x: 0;
    --y: 0;

    position: absolute;
    top: calc(var(--hauteurCase) * var(--y));
    left: calc(var(--hauteurCase) * var(--x));
    height: var(--hauteurCase);
    width: var(--hauteurCase); 
}

main.debug .snake-block::before, main.debug .apple::before, 
main.debug .snake-block::after, main.debug .apple::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 0.8rem;
}

main.debug .snake-block::before, main.debug .apple::before {
    counter-reset: xstr var(--x);
    content: 'x' counter(xstr);
    top: 0;
}

main.debug .snake-block::after, main.debug .apple::after {
    counter-reset: ystr var(--y);
    content: 'y' counter(ystr);
    bottom: 0;
}

#snake-head {
    background-color: limegreen;
    z-index: 10;
}

.snake-block {
    background-color: green;
    z-index: 5;
}

.apple {
    background-color: lightcoral;
    border-radius: 100%;
}

.game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: black;
    white-space: nowrap;
    z-index: 100;
}